@import "../colors";
@import "../fonts";

.attribution {
    font: {
        family: $font-stack;
        size: 0.75rem;
        weight: $medium;
    }

    text-align: center;

    &--link {
        color: $footer-blue;
    }
}