@import "../colors";
@import "../fonts";

.card {
    background-color: $white;
    border-radius: 1.25rem;
    overflow: hidden;
    position: relative;
    width: 20.375rem;

    &__hero-img {
        display: block;
        width: 100%
    }

    &__body {
        padding: 1.9rem 1.5rem 1rem;
    }

    &__title {
        color: $dark-blue;
        font-weight: $black;
        margin-bottom: 1rem;
    }

    &__text {
        color: $desaturated-blue;
        font-weight: $medium;
        line-height: 1.5;
        margin-bottom: 1.625rem;
    }

    &__plan-row {
        align-items: center;
        background-color: $very-pale-blue;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 1.5rem;
        padding: 0.875rem 1rem;
    }

    &__plan-img {
        display: block;
    }

    &__plan-cost-col {}

    &__plan {
        color: $dark-blue;
        font: {
            family: $font-stack;
            size: 0.875rem;
            weight: $black;
        }

        margin-bottom: 0.25rem;
    }

    &__cost {
        color: $desaturated-blue;

        font: {
            family: $font-stack;
            size: 0.875rem;
            weight: $medium;
        }
    }

    &__change-plan {
        color: $bright-blue;

        font: {
            family: $font-stack;
            size: 0.8125rem;
            weight: $black;
        }
    }

    &__payment-btn {
        border: none;
        border-radius: 0.75rem;
        font-size: 0.9375rem;
        font-weight: 900;
        padding-bottom: 1rem;
        padding-top: 1rem;
        width: 100%;
        background-color: $bright-blue;
        box-shadow: 0 1rem 1rem $pale-blue;
        color: $very-pale-blue;
        margin-bottom: 0.625rem;
        position: relative;
        z-index: 1;
    }

    &__payment-btn--hover {
        background-color: $bright-blue-hover;
        cursor: pointer;
      }

    &__cancel-btn {
        border: none;
        border-radius: 0.75rem;
        font-size: 0.9375rem;
        font-weight: 900;
        padding-bottom: 1rem;
        padding-top: 1rem;
        width: 100%;
        background-color: $white;
        color: $desaturated-blue;
        margin-bottom: 0;
    }

    &__cancel-btn--hover {
        color: $dark-blue;
        cursor: pointer;
      }
}