@import "../colors";
@import "../fonts";

.card {
    background-color: $white;
    border-radius: 1.25rem;
    overflow: hidden;
    position: relative;
    width: 20.375rem;

    &__hero-img {
        display: block;
        width: 100%
    }

    &__body {
        font-family: $font-stack;
        padding: 1.9rem 1.5rem 1rem;
        text-align: center;
    }

    &__title {
        color: $dark-blue;

        font: {
            size: 1.4rem;
            weight: $black;
        }

        margin: 0 auto 1.1rem;
    }

    &__text {
        color: $desaturated-blue;

        font: {
            size: 0.9375rem;
            weight: $medium;
        }

        line-height: 1.65;
        margin: 0 auto 1.625rem;
        padding: 0 0.75rem;
    }

    &__plan-row {
        align-items: center;
        background-color: $very-pale-blue;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1.7rem;
        padding: 0.875rem 1rem;
    }

    &__plan-img {
        display: block;
    }

    &__plan-cost-col {
        margin: 0 0 0 -2rem;
    }

    &__plan {
        color: $dark-blue;

        font: {
            family: $font-stack;
            size: 0.9rem;
            weight: $black;
        }

        margin-bottom: 0.25rem;
    }

    &__cost {
        color: $desaturated-blue;

        font: {
            family: $font-stack;
            size: 0.9rem;
            weight: $medium;
        }
    }

    &__change-plan {
        color: $bright-blue;

        font: {
            size: 0.8125rem;
            weight: $black;
        }
    }

    &__change-plan:hover {
        color: $bright-blue-hover;
        text-decoration: none;
    }

    &__payment-btn {
        background-color: $bright-blue;
        box-shadow: 0 1rem 1rem $pale-blue;
        color: $very-pale-blue;
        border: none;
        border-radius: 0.75rem;

        font: {
            size: 1rem;
            weight: $black;
        }

        margin-bottom: 0.5rem;
        padding: 1rem 0;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    &__payment-btn:hover {
        background-color: $bright-blue-hover;
        cursor: pointer;
    }

    &__cancel-btn {
        background-color: $white;
        border: none;
        border-radius: 0.75rem;
        color: $desaturated-blue;

        font: {
            size: 1rem;
            weight: $black;
        }

        margin-bottom: 0;
        padding: 1rem 0;
        width: 100%;
    }

    &__cancel-btn:hover {
        color: $dark-blue;
        cursor: pointer;
    }
}