@import "../breakpoints";

.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4.45rem 0;

    @media screen and (min-width: $mobile) {
        padding: 10rem 0;
    }
}
