@import "colors";

html {
  font-size: 16px;
}

* {
  margin-top: 0;
}

body {
  background-color: $pale-blue;
  font-family: 'Red Hat Display', sans-serif;
  justify-content: center;
  margin: 0;
  text-align: center;
  padding: 0;
}

main {

  .card {
    background-color: $white;
    border-radius: 1.25rem;
    margin: 4.375rem auto;
    overflow: hidden;
    width: 20.375rem;

    .image-area {

      .image-hero {
        width: 100%;
      }
    }

    .text-area {
      box-sizing: border-box;
      padding: 1.625rem 1.5rem;

      .card-heading {
        color: $dark-blue;
        font-weight: 900;
        margin-bottom: 1rem;
      }

      .card-main-text {
        color: $desaturated-blue;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 1.625rem;
      }

      .plan-row {
        align-items: center;
        background-color: $very-pale-blue;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 24px;
        padding: 14px 16px;

        .plan-col-image {
          margin-right: 1rem;
        }

        .plan-col-cost {
          margin-right: auto;

          .plan {
            color: $dark-blue;
            font-size: 14px;
            font-weight: 900;
            margin-bottom: 4px;
          }

          .cost {
            color: $desaturated-blue;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .change-plan {
          color: $bright-blue;
          font-size: 13px;
          font-weight: 900;
        }

        .change-plan:hover {
          color: $desaturated-blue;
          text-decoration: none;
        }
      }

      .btn {
        border: none;
        border-radius: 0.75rem;
        font-weight: 700;
        padding-bottom: 1rem;
        padding-top: 1rem;
        width: 100%;
      }

      .payment-btn {
        background-color: $bright-blue;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: $very-pale-blue;
        margin-bottom: 1rem;
      }

      .payment-btn:hover {
        background-color: $desaturated-blue;
        cursor: pointer;
      }

      .cancel-btn {
        background-color: $white;
        color: $desaturated-blue;
        margin-bottom: 12px;
      }

      .cancel-btn:hover {
        color: $dark-blue;
        cursor: pointer;
      }
    }
  }
}

footer {

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: $footer-blue;
  }

}