@import "colors";

html {
  font-size: 16px;
}

body {
  font-family: 'Red Hat Display', sans-serif;
}

main {}

footer {

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: $footer-blue;
  }

}